.container {
  font: 18px/36px "Poppins", sans-serif;
  height: 2600px;
}

/*NavBar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(196, 207, 165, 0.85);
  z-index: 999;
  /*display: inline;*/
}

.navbar li {
  margin-top: -35px;
  list-style-type: none;
}
.navbar li ul {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.navbar ul a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}
.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid white;
  width: 50%;
  margin: auto;
}
.navbar li ul:hover {
  transform: translate(0, -5px);
  transition: 0.5s;
}
/*Akhir Navbar*/

/*Jumbotron*/
.jumbotron {
  position: relative;
  background-image: url(../Image/Full/jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 843px;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.73%, #000 100%);
  position: absolute;
  bottom: 0;
}
.profile {
  position: relative;
  width: 380px;
  height: 330px;
  background-size: cover;
  top: 270px;
  margin: auto;
}
.profile img {
  border-radius: 100%;
  margin-left: 113px;
  margin-bottom: 15px;
}
.profile h1 {
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  color: white;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}
.profile p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;
}
/*Akhir Jumbotron*/

/*Info Panel*/
.info-panel {
  width: 850px;
  height: 160px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 4px 4px 5px #b2b2b2;
  position: relative;
  margin: -90px auto;
}
.info-panel h1 {
  font-weight: bold;
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.info-panel li ul {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
.info-panel li {
  list-style-type: none;
}
.info-panel li ul img {
  /*margin-top: 25px;*/
}
/*Akhir Info Panel*/

/*About Me*/

#about-me:target {
  animation: animasiDiv 2s ease;
}
.about-me {
  height: 360px;
  width: 80%;
  margin: 200px auto;
  animation: animasiDiv 2s ease;
}

.about-me h1 {
  font-weight: bold;
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 60px;
}
.right {
  width: 50%;
  float: right;
}
.right p {
  text-align: center;
}
.left {
  width: 50%;
  height: 300px;
  display: inline-block;
}
.left p {
  text-align: center;
}

/*Akhir About Me*/

/*Projects*/
#project:target {
  animation: animasiDiv 2s ease;
}
.project {
  width: 100%;
  background-color: #e8fbe0;
  height: 660px;
  margin-top: -15px;
  animation: animasiDiv 2s ease;
}
.project div {
  display: inline-block;
}
.project .title {
  font-weight: bold;
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;
  padding-bottom: 75px;
  padding-top: 60px;
}
.box {
  width: 300px;
  height: 430px;
  box-shadow: 4px 5px 4px #b2b2b2;
}
.box:hover {
  box-shadow: 7px 30px 5px rgba(178, 178, 178, 0.5);
  transform: translate(0, -30px);
  transition: 0.5s;
}
/*game*/
.game {
  text-align: left;
  border: 1px solid black;
  background-color: white;
  margin-left: 122px;
}
.game img {
  width: 100%;
  border-bottom: 1px solid black;
}
.game h1 {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.game p {
  font-size: 14px;
  padding-bottom: 5px;
  line-height: 15px;
  padding-left: 5px;
}

/*Web*/
.web {
  position: relative;
  top: -30px;
  text-align: left;
  border: 1px solid black;
  background-color: white;
  margin: auto 215px;
}
.web img {
  width: 100%;
  border-bottom: 1px solid black;
}
.web h1 {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.web p {
  font-size: 14px;
  line-height: 15px;
  padding-left: 5px;
}

/*Andoird*/
.android {
  position: relative;
  text-align: left;
  border: 1px solid black;
  background-color: white;
  top: -87px;
}
.android img {
  width: 100%;
  border-bottom: 1px solid black;
}
.android h1 {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.android p {
  font-size: 14px;
  padding-bottom: 5px;
  line-height: 15px;
  padding-left: 5px;
}
/*Akhir Projects*/

/*Contact*/
#contact:target {
  animation: animasiDiv 2s ease;
}
.contact {
  height: 480px;
  width: 100%;
  animation: animasiDiv 2s ease;
}
.contact h1 {
  font-weight: bold;
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  color: black;
  text-align: center;
  padding-bottom: 75px;
  padding-top: 60px;
}
.form {
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 700px;
  height: 50px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}
.text {
  margin-left: 100px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: #d0d0d0;
  border: 1px solid black;
  border-radius: 5px;
  margin: 60px auto;
}
.button a {
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 40px;
  margin-left: 17px;
}
.button:hover {
  background-color: #b2b2b2;
}

/*Akhir Contact*/

/*Footer*/
.footer {
  width: 100%;
  height: 100px;
  background-color: #dff9ff;
  margin-top: -15px;
}
.footer p {
  text-align: center;
}
.footer p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/*Akhir Footer*/

/*Animasi*/

@keyframes animasiDiv {
  from {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  to {
    opacity: 1;
  }
}

/*Akhir Animasi*/
